$blue: #3c8cff;

@mixin page-button {
  display: inline-block;
  width: 30px;
  height: 28px;

  margin: 0 5px;
  padding: 0 4px;

  line-height: 28px;
  font-size: 13px;

  box-sizing: border-box;
  vertical-align: top;
  text-align: center;

  background-color: #f4f4f5;
  color: #606266;
  border-radius: 2px;

  cursor: pointer;

  &:hover {
    color: $blue;
  }
}

.m-pager {
  list-style: none;
  padding: 0;
  li {
    @include page-button;

    &.active {
      background-color: $blue;
      color: #fff;
      cursor: default;
    }

    &:not(.active):hover {
      color: $blue;
    }

    &.more {
      &::before {
        content: '...';
      }
      &.left:hover::before {
        content: '<<';
      }
      &.right:hover::before {
        content: '>>';
      }
    }
  }
}

.m-pagination {
  display: flex;
  align-items: center;
  .btn-prev, .btn-next {
    @include page-button;
    border: none;
  }
}
