<ul class="m-pager">
  <li [ngClass]="{
      number: true,
      active: 1 == current
    }" 
    (click)="setPage($event, 1)"
  >1</li>
  <li *ngIf="current >= centerSize && totalPage > centerSize + 2" class="more left" 
    (click)="setPage($event, current - centerSize)"
  ></li>
  <li *ngFor="let page of centerPages" [ngClass]="{
      number: true,
      active: page == current
    }" 
    (click)="setPage($event, page)"
  >{{ page }}</li>
  <li *ngIf="current <= totalPage - centerSize + 1 && totalPage > centerSize + 2" class="more right" 
    (click)="setPage($event, current + centerSize)"
  ></li>
  <li *ngIf="totalPage !== 1" [ngClass]="{
      number: true,
      active: totalPage == current
    }" 
    (click)="setPage($event, totalPage)"
  >{{ totalPage }}</li>
</ul>